@charset "utf-8";
/* CSS Document */

/*----------------------------------------------------
  共通
----------------------------------------------------*/
#tab_area {
	margin: 0 0 5px 0;
}
#page_tab {
	width: 500px;
	margin: 20px auto 0 auto;
	text-align: center;
	font-size: 1em;
	font-style: normal;
}
#page_tab em {
	padding: 2px 6px;
	color: #e72b2b;
	border: 1px #133b95 solid;
	background: #133b95;
	color: #FFFFFF;
	font-style: normal;
}
/* link */
a.tab_off {
	padding: 2px 6px;
	color: #133b95;
	border: 1px #133b95 solid;
	font-weight: bold;
}
a.tab_off:link,
a.tab_off:visited {
	text-decoration: none;
}
a.tab_off:hover,
a.tab_off:active{
	background-color: #7da9f8;
	text-decoration: none;
}


.content_list_area {
	font-size: 1.5em;
	margin: 15px;
}
.content_list_area .gaiyo {
	font-size: 80%;
	line-height: 1.4;
}

/* button */
#button {
	float: right;
	margin-right: 310px;
	display: block;
	width: 126px;
	height: 25px;
	color: #333;
	text-shadow: 1px 1px 0px #fff;
	background: url(../../images/admin/next_off.png) no-repeat;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	padding: 5px 0 0 10px;
	font-weight: bold;
}
#button:hover {
	background: url(../../images/admin/next_on.png) no-repeat;
}

#back_button {
	float: left;
	margin-left: 220px;
}
#back_button a {
	display: block;
	width: 125px;
	height: 25px;
	color: #fff;
	background: url(../../images/admin/buck_off.png) no-repeat;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	padding: 5px 0 0 10px;
}
#back_button a:hover {
	background: url(../../images/admin/buck_on.png) no-repeat;
}

#next_button {
	float: right;
	margin-right: 220px;
}
#next_button a {
	display: block;
	width: 126px;
	height: 25px;
	color: #333;
	text-shadow: 1px 1px 0px #fff;
	background: url(../../images/admin/next_off.png) no-repeat;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	padding: 5px 0 0 10px;
	font-weight: bold;
}
#next_button a:hover {
	background: url(../../images/admin/next_on.png) no-repeat;
}

#next_button_c {
	width: 126px;
	margin: 10px auto 0 auto;
}
#next_button_c a {
	display: block;
	width: 126px;
	height: 25px;
	color: #333;
	text-shadow: 1px 1px 0px #fff;
	background: url(../../images/admin/next_off.png) no-repeat;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	padding: 5px 0 0 10px;
	font-weight: bold;
}
#next_button_c a:hover {
	background: url(../../images/admin/next_on.png) no-repeat;
}

#delete_button {
	float: left;
	margin-left: 220px;
}
#delete_button a {
	display: block;
	width: 125px;
	height: 25px;
	color: #fff;
	background: url(../../images/admin/delete_off.png) no-repeat;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	padding: 5px 0 0 10px;
}
#delete_button a:hover {
	background: url(../../images/admin/delete_on.png) no-repeat;
}

#search_button {
	float: right;
	margin-right: 310px;
	display: block;
	width: 126px;
	height: 25px;
	color: #fff;
	background: url(../../images/admin/search_off.png) no-repeat;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	padding: 5px 0 0 10px;
	font-weight: bold;
}
#search_button:hover {
	background: url(../../images/admin/search_on.png) no-repeat;
}

#csv_button {
	float: right;
	margin: 0 8px 0 0;
	font-weight: bold;
	display: block;
	width: 190px;
	height: 25px;
	color: #666;
	background: url(../../images/admin/csv_off.png) no-repeat;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	padding: 5px 0 0 10px;
}
#csv_button:hover {
	color: #1c4b0d;
	background: url(../../images/admin/csv_on.png) no-repeat;
}

/* bg_blue */
#bg_blue {
	width: 760px;
	padding: 15px;
	background-color: #ccdeff;
}

.table_blue {
	width: 99%;
	border: 2px #80a3ea solid;
	border-collapse: collapse;
	background: #fff;
	color: #333;
	font-size: 1.1em;
	line-height: 1.3;
}
.table_blue .menu th {
	background-color: #e5eeff;
	border: 1px #80a3ea solid;
	font-weight: bold;
	padding: 10px;
}
.table_blue .menu td {
	border: 1px #80a3ea solid;
	padding: 5px 10px;
}
.table_blue .menu {
	border: 1px #80a3ea solid;
}

/* table_list */
.table_blue thead {
	background-color: #e5eeff;
	border: 1px #80a3ea solid;
	line-height: 1.6;
}
.table_blue tbody td {
	border: 1px #80a3ea solid;
	line-height: 2;
	padding: 5px 0;
}
.table_blue tbody .bg_yellow {
	background-color: #fdffd8;
}
.table_blue .table_list th {
	border: 1px #80a3ea solid;
	text-align: center;
	padding: 3px 5px;
}
.table_blue .table_list td {
	border: 1px #80a3ea solid;
	text-align: right;
	padding: 3px 5px;
}

/*----------------------------------------------------
  order
----------------------------------------------------*/
input.submit_blue {
	background-color: #2b59ff;
	border: 1px outset #9CF;
	color: white;
	padding: 2px 6px;
}
input.submit_orange {
	background-color: #ff672d;
	border: 1px outset #9CF;
	color: white;
	padding: 2px 6px;
}

#back_button_one {
	margin: 0 0 0 310px;
	display: block;
	width: 125px;
	height: 25px;
	color: #fff;
	background: url(../../images/admin/buck_off.png) no-repeat;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	padding: 5px 0 0 10px;
}
#back_button_one:hover {
	background: url(../../images/admin/buck_on.png) no-repeat;
}

/*----------------------------------------------------
  user
----------------------------------------------------*/
#user_area {
	margin: 15px 0;
}

#tab_area_on {
	float: left;
	width: 90px;
	height: 24px;
	padding: 8px 15px;
	margin-right: 15px;
	margin-bottom:10px;
	font-size: 1.2em;
	background: #133b95;
	color: #fff;
	font-weight: bold;
	text-align: center;
}
#tab_area_off a {
	float: left;
	width: 90px;
	height: 24px;
	padding: 8px 15px;
	margin-right: 15px;
	margin-bottom:10px;
	font-size: 1.2em;
	background: #7099e4;
	text-decoration: none;
	color: #fff;
	text-align: center;
}
#tab_area_off a:hover {
	background: #133b95;
	color: #fff;
	font-weight: bold;
}
